Assignment 1: Temperature Check

In [2]:
temperature = float(input("enter temperature: "))

if temperature < 10:
    print("It's too cold!")
elif temperature <= 25:
    print("It's cool outside")
else:
    print("It's hot outside!")

enter temperature: 15
It's cool outside

Assignment 2: ATM Withdrawal System

In [4]:
balance = float(input("enter account balance: "))
withdraw = float(input("enter withdrawal amount: "))

if withdraw>balance:
    print("Insufficient Balance")
else:
    print("Transaction Successful")
    print("Remaining Balance:",balance-withdraw)

enter account balance: 500
enter withdrawal amount: 300
Transaction Successful
Remaining Balance: 200.0

Assignment 3: Student Grade Calculator

In [5]:
marks = int(input("enter marks(0–100): "))

if marks >= 90 and marks <= 100:
    print("A+")
elif marks >= 80:
    print("A")
elif marks >= 70:
    print("B")
elif marks >= 60:
    print("C")
else:
    print("Fail")

enter marks(0–100): 99
A+

Assignment 4: Bus Ticket Discount

In [6]:
age = int(input("enter age: "))

if age < 5:
    print("Free")
elif age <= 18:
    print("50% Discount")
elif age >= 60:
    print("30% Discount")
else:
    print("Full Price")

enter age: 15
50% Discount

Assignment 5: Restaurant Bill with Discount

In [8]:
bill = float(input("enter total bill: "))

if bill > 1000:
    discount = bill*0.10
    bill = bill-discount
    print("10% discount")
else:
    print("no discount")

print("final bill:",bill)

enter total bill: 1500
10% discount
final bill: 1350.0

Assignment 6: Login Authentication

In [9]:
username = input("enter username: ")
password = input("enter password: ")

if username == "admin" and password == "12345":
    print("Login Successful")
else:
    print("Invalid Credentials")

enter username: admin
enter password: 12345
Login Successful

Assignment 7: Traffic Light System

In [10]:
color = input("enter traffic light color (red, yellow, green): ")

if color == "red":
    print("Stop")
elif color == "yellow":
    print("Ready to go")
elif color == "green":
    print("Go")
else:
    print("Invalid color")

enter traffic light color (red, yellow, green): red
Stop

Assignment 8: Leap Year Checker

In [11]:
year = int(input("enter a year: "))

if year % 400 == 0:
    print("Leap Year")
elif year % 4 == 0 and year % 100 != 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

enter a year: 2024
Leap Year

Assignment 9: Job Eligibility Checker

In [12]:
age = int(input("enter age: "))
qualification = input("enter qualification: ")

if age >= 18 and qualification == "graduate":
    print("Eligible for Job")
else:
    print("Not Eligible")

enter age: 19
enter qualification: graduate
Eligible for Job

Assignment 10: Electricity Bill Calculator

In [13]:
units = int(input("enter number of units consumed: "))

if units <= 100:
    bill = units*5
elif units <= 200:
    bill = units*7
else:
    bill = units*10

print("total amount:",bill,"BDT")

enter number of units consumed: 150
total amount: 1050 BDT